# My composition
docs/*
Docs/*
Documents/*
*.doc
*.docx
*.odt
# *.txt
*.rtf
*.jpg
*.jpeg
# *.png
*.tiff
*.tif
*.pdf
.idea/*
.vscode/*


# Added by Vite configuration, placed here as in the core file for the repository:
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
