# My composition
docs/*
Docs/*
Documents/*
*.doc
*.docx
*.odt
# *.txt
*.rtf
*.jpg
*.jpeg
# *.png
*.tiff
*.tif
*.pdf
.idea/*
.vscode/*


# Added by the creat-react-app, placed here as in the core file for the repository:

# dependencies
/lang_quiz_react/node_modules
/lang_quiz_react/.pnp
/lang_quiz_react/.pnp.js

# testing
/lang_quiz_react/coverage

# production
/lang_quiz_react/build

# misc
/lang_quiz_react/.DS_Store
/lang_quiz_react/.env.local
/lang_quiz_react/.env.development.local
/lang_quiz_react/.env.test.local
/lang_quiz_react/.env.production.local

/lang_quiz_react/npm-debug.log*
/lang_quiz_react/yarn-debug.log*
/lang_quiz_react/yarn-error.log*
