body *{
    /* Default settings for all elements, see the selector */
    padding: 0.25em;
}

#imageContainer, #imageAsCanvas{
    display: block; margin: 0.25em;
}

#uploadInfoStr, #uploadButton{
    display: inline-block; 
}

#uploadInfoStr{
    font-size: 16px;
}

#pageHeader{
    text-align: center; margin: 0.4em;
}
 
#widthInputContainer{
    display: flex;
}

#width-label{
    margin-left: 0.5em;
}