body *{
    /* Default settings for all elements, see the selector */
    padding: 0.25em; margin: 0.15em;
}

#imageContainer, #imageAsCanvas{
    display: block; margin: 0.1em; padding: 0.2em;
}

#uploadInfoStr, #uploadButton{
    display: inline-block; 
}

#uploadInfoStr{
    font-size: 16px;
}

#pageHeader{
    text-align: center; margin: 0.4em;
}

#image-manipulation-controls-box{
    display: flex; flex-direction: row;
}

/* Styling of the width input label, input and datalist elements */
#widthInputContainer{
    display: flex; padding-top: 0.65em; margin: 0px; padding-bottom: 0.1em;
}

#input-ticks-container{
    /* display: flex;  */   /* Inherited from the parent above */
    flex-direction: column;  margin: 0px;
}

#widthImageInput{
    padding: 0px; width: 180px;
}

#width-ticks{
    display: flex;  /* This is necessary to show the ticks specified as <datalist> <option>-s */
    justify-content: space-between;   /* Spread elements on the whole length */
    width: 105%; padding: 0px; margin: 0px;  /* Adjustment to fit with the ticks on <input> element */
}

#width-label{
    margin-left: 0.5em;
}