/* Styling of React component by importing below classes in it and assigning by className HTML attribute */
.variant {
    text-align: center; color: lightcyan; background-color: blueviolet;
    margin: 0.4em 0.5em; padding: 0.25em;
}

/* Question + answer variants */
.quizBox {
    display: flex; flex-direction: column; align-items: center; justify-content: center; 
    margin: 0.5em; margin-top: 1.25em; font-size: 1.25em;
}

/* Only answer variants box */
.variantsBox {
    /* TODO: grid layout or table for variants */
    display: flex; flex-direction: row; align-items: center; justify-content: center; 
    list-style-type: none; margin: 1em auto; padding: 0.25em;
}

/* Answer variants themselves */
.variantsBox li {
    margin: auto 0.85em; padding: 0.5em; text-align: center; width: max-content;
}

.variantsBox li:hover {
    color: rgb(246, 255, 255); background-color: rgb(110, 28, 186); cursor: pointer;
}

/* Highlighted text */
.noun {
    font-weight: bolder; font-size: 1.1em;
}