/* Dark theme selected */
.aboutWindowDark {
    background-color: rgb(7, 7, 105); color: lightgoldenrodyellow; 
}
.aboutWindowDark::backdrop {
    background-color: rgba(15, 18, 15, 0.555);
}

/* Light theme selected */
.aboutWindowLight {
    background-color: lightgoldenrodyellow; color: rgb(7, 7, 105); 
}
.aboutWindowLight::backdrop {
    background-color: rgba(204, 211, 204, 0.555);
}

/* Both themes shared styles */
.aboutInfoWinBox {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}

.paragraph{
    font-size: 1.05em; text-align: center; width: 95%; height: fit-content;
    line-height: 1.55em; margin: 0.4em auto;
}
.link {
    margin-left: 0.3em; color: chartreuse;
}