/* Overall styling for 2 states of the single button: Start and Stop */
.start-quiz-button {
    font-size: 0.98em; font-weight: 650;
    width: max-content; min-width: 12em; height: 3.25em;
    margin: 2em; padding: auto; text-align: center; 
    border: solid 4px; border-radius: 35%; 
}

.end-quiz-button {
    font-size: 1em;
    width: max-content; min-width: 12em; height: 3em;
    margin: 2em; padding: auto; text-align: center; 
    background-color: whitesmoke; color: darkred;
}

/* Specific styling for two selectable themes: dark and light as the postfixes */
.start-quiz-button-dark {
    background-color: blueviolet; color: aliceblue; border-color: greenyellow;
}
@keyframes startButtonDarkHovered {
    from { border: solid 4px greenyellow; background-color: blueviolet; color: aliceblue; }
    to { border: solid 4px blueviolet; background-color: greenyellow; color: rgb(45, 70, 70); }
}
.start-quiz-button-dark:hover{
    /* Making an animation if the started button is hovered */
    animation-name: startButtonDarkHovered; animation-duration: 2.85s; animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* Specific styling for the Light theme */
.start-quiz-button-light {
    background-color: rgb(172, 166, 164); color: rgb(44, 54, 54); border-color: rgb(146, 202, 220);
}
@keyframes startButtonLightHovered {
    from { border: solid 4px rgb(146, 202, 220); background-color: rgb(172, 166, 164); }
    to { border: solid 4px rgb(172, 166, 164); background-color: rgb(146, 202, 220); }
}
.start-quiz-button-light:hover{
    /* Making an animation if the started button is hovered */
    animation-name: startButtonLightHovered; animation-duration: 2.85s; animation-iteration-count: infinite;
    animation-direction: alternate;
}
