/* Styling of the button and its elements that switches themes */
.style-switcher {
    height: 3.5em; width: 17em; padding: 0.6em; 
    font-weight: bold; border-radius: 32%; border: 3px solid; 
    margin-left: auto;  /* shift this button to most left within the flexbox */
    display: flex; flex-direction: row; align-items: center; justify-content: center;
}
.style-switcher * {
    margin: 0.125em; padding: 0.125em; font-weight: bold;
}
.style-string {
    margin-top: 0.45em;   /* centering by flexbox not shifted everything properly */
    margin-left: 0em;
}
.style-symbol {
    font-size: 1.85em; font-weight: 1000;
}

/* Styles for two selected themes: dark and light */
.style-switcher-dark {
    background-color: whitesmoke; color: darkgoldenrod;  border-color: rgb(104, 89, 50);
}
.style-switcher-light {
    background-color: rgb(36, 38, 36); color: whitesmoke; border-color: darkslategray;
}
.style-symbol-light {
    color: silver; 
}
.style-symbol-dark {
    color: orange;
}

/* Adding hover styling for more dynamic appearance of switch style button */
.switch-symbol { display: none; }
.switch-symbol-dark { color: darkgoldenrod; }
.switch-symbol-light { color: silver; }
@keyframes switchStylesHovered {
    from { transform: translateX(0em); }
    to { transform: translateX(0.65em); }
}
.style-switcher:hover .switch-symbol {
    display: flex; margin: 0; padding: 0; font-size: 1.85em; margin-right: 0.55em;
    animation-name: switchStylesHovered; animation-duration: 2.2s; animation-iteration-count: infinite;
    animation-direction: alternate;
}
