/* Adjusting styles based on the device's screen width (media queries) */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  
}

/* Medium devices (tablets, from 768px and up to ~ 992px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  #background-image-box {
    background-size: contain;
  }  
}

/* Mobile and small screen design */
@media screen and (max-width: 925px) {
  footer {
    text-align: center;
  }
  #lives-number {
    font-size: 1em;
  }

  #launch-quiz-properties-box > * {
    margin-left: 0.4em;
    margin-left: 0.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  #launch-quiz-properties-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #time-lives-box > * {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: 0.4em;
    margin-left: 0.4em;
  }
  #time-lives-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  body * {
    font-size: 1rem;
  }
  #remaining-time-bar {
    width: 125px;
  }
  #quiz-grid-box {
    row-gap: 1em;
    column-gap: 1.5em;
  }
  #quiz-question {
    height: 1.25em;
    min-width: fit-content;
    padding-left: 12vw;
    padding-right: 12vw;
  }
  .answer-variant {
    height: 1.25em;
    min-width: fit-content;
  }
  #page-footer {
    margin-top: 3vh;
  }
}

/* After few tests, it's better to apply shrinking of the answers starting from the width of recent iPhones */
@media screen and (max-width: 392px) {
  /* Below - squeeze the table */
  #statistics-table th {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.5em;
  }
  #statistics-table th,
  td {
    font-size: 0.92rem;
  }
  body * {
    overflow-wrap: break-word;
  } /* Force all elements to break into lines */
  /* NOTE: for adjusting elements width for breaking into words, one needed to fix width property */
  #quiz-grid-box {
    width: fit-content;
  }
}
@media screen and (max-width: 320px) {
  #remaining-time-bar {
    width: 110px;
  }
  #quiz-grid-box {
    display: flex;
    flex-direction: column;
  }
}
