body {
    margin: 0.25em;
}

/* All elements in <body> by default get margin and padding from below */
body *{
    padding: 0.2em; margin-left: 0.2em; margin-right: 0.2em;
    margin-top: 0.4em; margin-bottom: 0.4em;
    font-size: 1.055rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Standard layout - flexbox with centered columns */
.flexbox-container{
    display: flex; margin-left: auto; margin-right: auto;
    flex-direction: column; text-align: center;
}
/* Layout for flexbox with rows inside of it */
.flexbox-container-rows{
    display: flex; align-items: center;
    flex-direction: row; text-align: center;
    /* margin: 0.5em auto; */  /* centering the flexbox itself */
    justify-content: center;  /* centering the content of the flexbox */
}

#main-page-content{
    max-height: 96vh; min-height: 60vh;
}

/* Setting all boxes to the bigger z-index than the background image */
#main-page-content > *{
    position: relative; z-index: 1; /* Allows to assign the z-index larger than for the background image */  
}

/* Set the background image for the entire page */
#background-image-box{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fd/Flag_of_the_United_States_of_America.png);
    opacity: 0.125;
    background-size: contain;  /* Preserve initial image sizes */
    background-repeat: no-repeat; 
    position: absolute;  /* Place it on top of the parent element */
    /* Possibly, actual size of the page recalculated, and these values calculated wrongly (100% causes scroll bar appearance) */
    width: calc(100% - 2*(0.5em + 0.4em));   /* Subtracted all margins, twice - because parent elements also have them */
    height: calc(100% - 2*(0.5em + 0.8em));  /* Subtracted all margins, twice - because parent elements also have them */
    z-index: 0;  /* place it behind all other elements */
}

/* Place header and button by default closer to page center */
#project-header{
    margin-top: 20vh;
    position: relative; z-index: 2; /* Allows to assign the z-index larger than for the background image */  
}
 
/* Start (launch) the quiz button styling */
#hovered-start-arrows { display: none; }   /* arrows are invisible if the button not hovered */
#hovered-stop-arrows { display: none; }  /* these arrows will be visible if hovering the button for stop the quiz */
#launch-control-button { 
    width: 18em; height: 3.2em; margin-top: 2em;
    cursor: pointer;   /* Regulates appearance of pointer when it's hovered over the button */
    box-shadow: 0px 10px rgb(116, 175, 116);   /* shadow effect */
    background-color: forestgreen;
    border: 1px solid rgb(24, 161, 24); border-radius: 20px;
    color: rgb(252, 232, 203);  /* Note: text color */
    display: flex; align-items: center; justify-content: center;  /* Centering all spans inside the button with the text */
} 
#launch-control-button:hover{
    background-color: rgb(27, 175, 27); 
    color: rgb(250, 242, 230);
    box-shadow: none; transform: translateY(8px); transition: transform 0.4s;  /* Click effect made as hovering action*/
}
/* Change style of the child element if the parent element get some CSS property */
#launch-control-button:hover #hovered-start-arrows { display: inline-block; }

/* Control elements styling: answers, lives counters, buttons */
#remaining-time-box{ 
    margin-right: 1em; margin-left: 1em; margin-top: 0em; margin-bottom: 0em; 
    padding-top: 0em; padding-bottom: 0em; 
}
#lives-number{ 
    margin-top: 0em; margin-bottom: 0em; margin-left: 1em; margin-right: 1em;
    padding-top: 0em; padding-bottom: 0em; 
    color: red; font-size: 1.25em;
}
#right-answers{
    margin-top: 0em; margin-bottom: 0em; margin-left: 1em;
    padding-top: 0em; padding-bottom: 0em;
    color: green; text-decoration: underline overline seagreen;
}
#remaining-time-bar{ margin-top: 0.52em; }

/* Place question and answer variants in a grid */
#quiz-question{
    grid-area: Question;
    display: flex; align-items: center; justify-content: center;
    background-color: black; color: palegoldenrod;
    border: 4px solid darkslateblue; border-radius: 16px;
    height: 2em; min-width: 18em;
    padding: 0.5em;
}

/* Naming for placing variants in a grid */
#answer-variant-1{ grid-area: Answer1;}
#answer-variant-2{ grid-area: Answer2; }
#answer-variant-3{ grid-area: Answer3; }
#answer-variant-4{ grid-area: Answer4; }
/* Styling of all answers */
.answer-variant{
    background-color: navy; color: azure;  
    height: 1.85em; min-width: 16em;
    border: 4px solid teal; border-radius: 8px;
    display: flex; align-items: center; justify-content: center;
}
.answer-variant:hover{background-color: darkslategray;}

/* Styling of the grid box with a question and answers */
#quiz-grid-box{
    display: grid;
    width: max-content;
    text-align: center; 
    row-gap: 1.25em; column-gap: 4.5em;
    grid-template-areas: 
        "Question Question"
        "Answer1 Answer2"
        "Answer3 Answer4";
}

#page-footer{
    margin-top: 24vh;  /* ... % of viewport height */
    text-align: left; margin-left: 1.5em;  /* shifts the footer text to the left */
}
