body {
    margin: 0.25em; width: auto; height: fit-content;
}

/* All elements in <body> by default get margin and padding from below */
body *{
    padding: 0.2em; margin-left: 0.2em; margin-right: 0.2em;
    margin-top: 0.4em; margin-bottom: 0.4em;
    font-size: 1.055rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.25em;  /* add additional vertical gaps between lines */
}

/* Standard layout - flexbox with centered columns */
.flexbox-container{
    display: flex; margin-left: auto; margin-right: auto;
    flex-direction: column; text-align: center;
}
/* Layout for flexbox with rows inside of it */
.flexbox-container-rows{
    display: flex; align-items: center;
    flex-direction: row; text-align: center;
    /* margin: 0.5em auto; */  /* centering the flexbox itself */
    justify-content: center;  /* centering the content of the flexbox */
}

#main-page-content {
    position: relative;   /* Regulates calculation of background image sizes: if not active, it will be calculated relative to entire body */ 
    /* overflow: hidden;  */ /* if content is larger then the window size, it shall be hidden */ 
}

/* Setting all boxes to the bigger z-index than the background image */
#main-page-content > *{
    position: relative; z-index: 1; /* Allows to assign the z-index larger than for the background image */  
}

/* Place header and button by default closer to page center */
#project-header{ margin-top: 16vh; }
 
/* Start (launch) the quiz button styling */
#hovered-start-arrows { display: none; }   /* arrows are invisible if the button not hovered */
#hovered-stop-arrows { display: none; }  /* these arrows will be visible if hovering the button for stop the quiz */
#launch-control-button { 
    width: 18em; height: 3.2em; margin-top: 2em;
    cursor: pointer;   /* Regulates appearance of pointer when it's hovered over the button */
    box-shadow: 0px 10px rgb(116, 175, 116);   /* shadow effect */
    background-color: forestgreen;
    border: 1px solid rgb(24, 161, 24); border-radius: 20px;
    color: rgb(252, 232, 203);  /* Note: text color */
    display: flex; align-items: center; justify-content: center;  /* Centering all spans inside the button with the text */
} 
#launch-control-button:hover{
    background-color: rgb(27, 175, 27); 
    color: rgb(250, 242, 230);
    box-shadow: none; transform: translateY(8px); transition: transform 0.4s;  /* Click effect made as hovering action*/
}
/* Change style of the child element if the parent element get some CSS property */
#launch-control-button:hover #hovered-start-arrows { display: inline-block; }

/* Control elements styling: answers, lives counters, buttons */
#remaining-time-box{ 
    margin-right: 1em; margin-left: 1em; margin-top: 0em; margin-bottom: 0em; 
    padding-top: 0em; padding-bottom: 0em; 
}
#lives-number{ 
    margin-top: 0em; margin-bottom: 0em; margin-left: 1em; margin-right: 1em;
    padding-top: 0em; padding-bottom: 0em; 
    color: red; font-size: 1.25em;
}
#right-answers{
    margin-top: 0em; margin-bottom: 0em; margin-left: 1em;
    padding-top: 0em; padding-bottom: 0em;
    color: green; text-decoration: underline overline seagreen;
}
#remaining-time-bar{ margin-top: 0.52em; }

/* Place question and answer variants in a grid */
#quiz-question{
    grid-area: Question;
    display: flex; align-items: center; justify-content: center;
    background-color: black; color: palegoldenrod;
    border: 4px solid darkslateblue; border-radius: 16px;
    height: 2em; min-width: 18em;
    padding: 0.5em;
}

/* Naming for placing variants in a grid */
#answer-variant-1 { grid-area: Answer1;}
#answer-variant-2 { grid-area: Answer2; }
#answer-variant-3 { grid-area: Answer3; }
#answer-variant-4 { grid-area: Answer4; }
/* Styling of all answers */
.answer-variant {
    background-color: navy; color: azure;  
    height: 1.85em; min-width: 16em;
    border: 4px solid teal; border-radius: 8px;
    display: flex; align-items: center; justify-content: center;
}
.answer-variant:hover { background-color: darkslategray; }

/* Styling of the grid box with a question and answers */
#quiz-grid-box{
    display: grid;
    width: max-content;
    text-align: center; 
    row-gap: 1.25em; column-gap: 4.5em;
    grid-template-areas: 
        "Question Question"
        "Answer1 Answer2"
        "Answer3 Answer4";
}

/* Styling of the report section */
#report {
    margin-top: 2em; 
    overflow-x: auto;  /* enabling scrollbar if the table is not fit, but the scrollbar appears in the bottom of a page (Firefox) */
    overflow-y: hidden; 
}
#statistics-table-box {
    display: none;   /* will be shown after 1 played quiz game */
    font-weight: bold; margin-top: 2em;
    /* white-space: nowrap; */  /* disallow to use whitespace for wrapping content */ 
}
#statistics-table {
    border-collapse: collapse;  /* makes border collapse for th ('table headers') and td ('table data') */
}  
#statistics-table th {
    padding-left: 1em; padding-right: 1em; padding-bottom: 0.5em;
}
#statistics-table th, td { border: 1px solid brown; }

#page-footer{
    margin-top: 16vh; margin-left: 2%;  /* ... % of viewport height */
    text-align: left;  /* prevent footer text to be centrally aligned */
}

/* Set the background image for the entire page using external resource */
#background-image-box {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fd/Flag_of_the_United_States_of_America.png);
    opacity: 0.125;
    /* Preserve initial image sizes */
    background-size: contain;
    /* Stretch the image to cover background */
    /* background-size: cover;   */
    background-repeat: repeat;   /* allows smoother behavior for different page sizes */
    position: absolute;
    /* Possibly, actual size of the page recalculated, and these values calculated wrongly (100% causes scroll bar appearance) */
    width: calc(100% - 2*(0.25em + 0.2em));  /* width reduced for accounting all default margins */
    height: 100%;   /* Calculated relative to the first relatively placed parent element (<main> element) */
    z-index: 0;  /* place it behind all other elements */
}

/* Adjusting styles based on the device width */
@media screen and (max-width: 1280px) {
    #project-header { margin-top: 15vh; }
    #page-footer { margin-top: 15vh; }
    #statistics-table-box { margin-top: 1.5em; }
}
@media screen and (max-width: 1240px) {
    #project-header { margin-top: 14vh; }
    #page-footer { margin-top: 14vh; }
}
@media screen and (max-width: 1200px) {
    #project-header { margin-top: 12vh; }
    #page-footer { margin-top: 12vh; }
    #statistics-table-box { margin-top: 1em; }
}
@media screen and (max-width: 1120px) {
    #project-header { margin-top: 10vh; }
    #page-footer { margin-top: 10vh; }
}
@media screen and (max-width: 1040px) {
    #project-header { margin-top: 6vh; }
    #page-footer { margin-top: 6vh; }
}
/* Screen smaller than 1000px, reduce some sizes for better fitting elements */
@media screen and (max-width: 1000px) {
    body {
        margin: 0.15em;
    }
    body *{
        font-size: 1rem;
        padding: 0.15em; margin: 0.2em 0.15em;
        line-height: 1.1em;  
    }
    #page-footer { margin-top: 8vh; }
}
/* Mobile and small screen design */
@media screen and (max-width: 925px) {
    #page-footer { text-align: center; }
    #lives-number { font-size: 1em;}

    #launch-quiz-properties-box > * {
        margin-left: 0.4em; margin-left: 0.4em;
        margin-top: 0.5em; margin-bottom: 0.5em;
    }
    #launch-quiz-properties-box {
        display: flex; flex-direction: column; flex-wrap: wrap;
        align-items: center; justify-content: center;
    }
    #time-lives-box > *{
        margin-top: 0.4em; margin-bottom: 0.4em;
        margin-left: 0.4em; margin-left: 0.4em;
    }
    #time-lives-box{
        display: flex; flex-direction: row; flex-wrap: wrap; 
        align-items: center; justify-content: center;
    }
}
@media screen and (max-width: 700px) {
    body *{ font-size: 0.95rem; } 
    #remaining-time-bar { width: 125px;}
    #quiz-grid-box { row-gap: 1em; column-gap: 1.5em; }
    #quiz-question { height: 1.25em; min-width: fit-content; padding-left: 12\vw; padding-right: 12vw;} 
    .answer-variant { height: 1.25em; min-width: fit-content; } 
    #page-footer { margin-top: 3vh; }
}
/* Remove hovering effect for devices with small widths (mobile devices) */
@media screen and (max-width: 600px) {
    .answer-variant:hover { background-color: inherit; }
}
/* Screens with width smaller than small iPhones */
@media screen and (max-width: 370px) {
    /* Below - squeeze the table */
    #statistics-table th { padding-left: 0.25em; padding-right: 0.25em; padding-bottom: 0.5em; }
    #statistics-table th, td { font-size: 0.92rem };
    body *{ overflow-wrap: break-word; }  /* Force all elements to break into lines */
    /* NOTE: for adjusting elements width for breaking into words, one needed to fix width property */
    #quiz-grid-box { width: fit-content; }
}
@media screen and (max-width: 320px) {
    #remaining-time-bar { width: 110px;}
    #quiz-grid-box { display: flex; flex-direction: column; }
}
@media screen and (max-width: 300px) { #launch-control-button { width: 12em; } }
